[user]
    name = Nikita Leshenko
    email = nikita@leshenko.net
[color]
    branch = auto
    diff = auto
    status = auto
[alias]
    a = add -A
    ai = add -i
    ci = commit
    d = diff
    dc = diff --cached
    pom = push origin master
    logp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    logap = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[core]
    excludesfile = ~/.gitignore_global
