# Unix
alias mkdir='mkdir -p'
alias ll='ls -l'
alias la='ls -al'
alias findfile='find . -iname'

# emacs
alias vi=$EDITOR
alias em='emacsclient -n'

# Git
# No arguments: `git status`
# With arguments: acts like `git`
g() {
  if [[ $# > 0 ]]; then
    git $@
  else
    git status -sb
  fi
}
# Complete g like git
compdef g=git

# Tmux
alias tmux='EDITOR= VISUAL= tmux'
alias tnew='tmux new -s "$(basename $(pwd))"'
alias tat='tmux attach'

# Include custom aliases
[[ -f .aliases.local ]] && source ~/.aliases.local
